/* 
    ##Device = Mobiles, Tablets, Ipads (portrait)
    ##Screen = B/w 0px to 1024px
*/
@media only screen and (max-width: 1024px) {
    /* Responsive Menu Toggle  */
    /* #header > .navbar-area > #menu-toggle Effect Css */
    #menu-toggle {
        display: block;
        margin-left: auto;
    }

    #menu-toggle span {
        display: block;
        background: #ccc;
        border-radius: 2px;
        transition: 0.25s ease-in-out;
        box-sizing: border-box;
    }
    #menu-toggle {
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
        background: transparent;
        border-radius: 5px;
    }
    #menu-toggle:hover {
        background: transparent;
    }
    #menu-toggle #hamburger {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    #menu-toggle #hamburger span {
        width: 80%;
        height: 3px;
        position: relative;
        top: 10%;
        left: 10%;
        margin: 8px 0;
    }

    #menu-toggle #hamburger span:nth-child(1) {
        transition-delay: 0.5s;
    }
    #menu-toggle #hamburger span:nth-child(2) {
        transition-delay: 0.625s;
    }
    #menu-toggle #hamburger span:nth-child(3) {
        transition-delay: 0.75s;
    }
    #menu-toggle #cross {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
    }
    #menu-toggle #cross span:nth-child(1) {
        height: 0%;
        width: 3px;
        position: absolute;
        top: 10%;
        left: 46%;
        transition-delay: 0s;
    }
    #menu-toggle #cross span:nth-child(2) {
        width: 0%;
        height: 3px;
        position: absolute;
        left: 10%;
        top: 48%;
        transition-delay: 0.25s;
    }
    #menu-toggle.open #hamburger span {
        width: 0%;
    }
    #menu-toggle.open #hamburger span:nth-child(1) {
        transition-delay: 0s;
    }
    #menu-toggle.open #hamburger span:nth-child(2) {
        transition-delay: 0.125s;
    }
    #menu-toggle.open #hamburger span:nth-child(3) {
        transition-delay: 0.25s;
    }
    #menu-toggle.open #cross span:nth-child(1) {
        height: 80%;
        transition-delay: 0.625s;
    }
    #menu-toggle.open #cross span:nth-child(2) {
        width: 80%;
        transition-delay: 0.375s;
    }


    /* Responsive #navbarNavDropdown  */
    /* #header > .navbar-area > #navbarNavDropdown Css */
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #header .navbar-area .sidebar-menu-close {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        font-size: 24px;
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2000;
        background-color: #F8F9FA;
        color: #ccc;
    }

    #header .navbar-area .header-nav .navbar .navbar-nav .nav-item a::after {
        display: none;
    }
    #header .navbar-area .header-nav .navbar .navbar-nav .nav-item.active a {
        border: none;
    }
    

    /* #header > .navbar-area > .sidebar-menu Css */
    #header .navbar-area .sidebar-menu.active {
        transform: translateX(272px);
    }

    #header .navbar-area .sidebar-menu {
        display: block !important;
        background-color: #fff;
        position: fixed;
        z-index: 10001;
        width: 272px;
        height: 100%;
        top: 0;
        left: -272px;
        padding-top: 50px;
        box-shadow: 0px 5px 17px rgb(0 0 0 / 17%), 0px 0.893452px 3.79717px rgb(0 0 0 / 10%), 0px 0.266004px 1.13052px rgb(0 0 0 / 7%);
        overflow-y: auto;
        transition: all .3s ease;
    }
    #header .navbar-area .sidebar-menu ul {
        padding: 0;
    }

    #header .navbar-area .header-nav .navbar .navbar-nav ul li {
        padding: 0 20px;
    }

    #header .navbar-area .header-nav .navbar .navbar-nav ul li a {
        display: block;
        color: #95979d;
        text-decoration: none;
        margin: 0;
        padding: 8px 0;
    }
    
    #header .navbar-area .header-nav .navbar .navbar-nav .nav-item > a:hover, #header .navbar-area .header-nav .navbar .navbar-nav > .nav-item.active > a {
        color: #95979d;
        border-bottom: 1px solid rgba(255, 255, 255, .15);
    }
    
    #header .navbar-area .header-nav .navbar ul li a {
        color: #95979d;
        border-bottom: 1px solid rgba(255, 255, 255, .15);
    }
    
    /* #header > .navbar-area > .sidebar-menu > .sub-menu Css */
    #header .navbar-area .header-nav .navbar .navbar-nav .nav-item .dropdown-menu.sub-menu {
        width: unset;
        height: 0;
        display: block;
        box-shadow: none;
        margin: 0;
        padding: 0 0 0 20px;
        position: relative;
        opacity: 1;
        visibility: visible;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-y: hidden;
        transition: .0s;
    }

    
    /* #header > .navbar-area > .sidebar-menu > .sub-toggle Css */
    #header .navbar-area .sidebar-menu .sub-toggle {
        display: inline-flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        padding: 14px 20px;
    }
    
    #header .navbar-area .sidebar-menu .sub-toggle svg {
        fill: #95979d;
        transform: rotate(90deg);
        cursor: pointer;
        transition: .2s;
    }
    
    #header .navbar-area .sidebar-menu .sub-toggle.open svg {
        transform: rotate(-90deg);
    }


    /* #banner > .banner-image-circle > .banner-image */
    #banner .banner-image-circle .banner-image .banner-image-left {
        left: 0%;
    }

    #banner .banner-image-circle .banner-image .banner-image-right {
        right: 0%;
    }
}

/* 
    ##Screen = B/w 0px to 991px
*/
@media only screen and (max-width: 991px) {
    #banner .banner-content {
        text-align: center;
        padding-top: 50px;
    }
    #banner .banner-content p {
        max-width: 80%;
        margin: 20px auto auto;
    }
    /* biometric-account > .biometric-images Css */
    #biometric-account {
        padding-top: 50px;
    }

    #biometric-account .biometric-area .biometric-images .biometric-image {
        width: 31%;
        margin: 1%;
    }

    #biometric-account .biometric-area .biometric-content {
        padding-top: 50px;
    }

    /* #bank-cards > .bank-cards-item-wrapper > .bank-cards-item */
    #bank-cards .bank-cards-item-wrapper .bank-cards-item {
        width: 25%;
    }

    .app-image .circle-img {
        top: 50%;
        width: 80%;
        left: 55%;
        transform: translate(-50%,-50%);
    }

    #banking-app-service .banking-app-service-area .app-image .app-main-image img:nth-child(1) {
        left: 10%;
        position: relative;
    }
    
    #banking-app-service .banking-app-service-area .app-image .app-main-image img:nth-child(2) {
        left: 50%;
        top: 50%;
        transform: translate(-15%,-50%);
    }
    
    #banking-app-service .banking-app-service-area .section-content {
        padding: 0 20px;
        margin-top: 50px;
        text-align: center;
    }

    #banking-app-service .banking-app-service-area .section-content .bar  {
        margin: 15px auto 20px;
    }

    /* #google-map > .google-map-area */
    #google-map .google-map-area .google-map-content .service-item {
        width: 48%;
        display: inline-block;
        float: left;
        margin: 35px  1%;
    }
    
    #google-map .google-map-area .google-map-content .google-map-viewport {
        min-height: 470px;
        padding: 25px 8px;
    }

    
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 0px to 767px
*/
@media only screen and (max-width: 767px) {
    .section-content h2 {
        font-size: 30px;
    }
    
    /* #remittances-paid > .remittances-area > .remittances-content */
    #remittances-paid {
        padding-top: 50px;
    }

    #remittances-paid .remittances-area .remittances-content h2 {
        font-size: 18px;
    }
    
    #header .top-header .header-right-content ul li {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 8px;
        text-align: center;
    }

    #header .top-header .header-right-content ul li i {
        position: relative;
        left: -5px;
    }

    /* banner Section Css */
    #banner {
        padding-top: 250px;
    }

    #banner .banner-image-circle .banner-image .banner-image-left,
    #banner .banner-image-circle .banner-image .banner-image-right {
        display: none;
    }
    
    /* #service Section Css */
    #service {
        padding-top: 0;
    }

    /* biometric-account > .biometric-images Css */
    #biometric-account .biometric-area .biometric-images {
        padding: 0 2%;
    }

    #biometric-account .biometric-area .biometric-images .biometric-image {
        width: 48%;
    }

    /* biometric-account > .biometric-content Css */
    #biometric-account .biometric-area .biometric-content {
        padding-right: 3%;
        padding-left: 3%;
    }

    /* #secure-banking-through-finger > .secure-banking-through-finger-content */
    #secure-banking-through-finger {
        padding-top: 50px;
    }

    #secure-banking-through-finger .secure-banking-through-finger-content .secure-banking-through-finger-items-left {
        padding-top: 50px;
    }

    #secure-banking-through-finger .secure-banking-through-finger-content .secure-banking-through-finger-items-right .banking-through-finger-image {
        overflow: hidden;
    }

    #secure-banking-through-finger .secure-banking-through-finger-content .secure-banking-through-finger-items-right .banking-through-finger-center-image,
    #secure-banking-through-finger .secure-banking-through-finger-content .secure-banking-through-finger-items-right .banking-through-finger-bottom-image {
        position: unset;
    }

    #secure-banking-through-finger .secure-banking-through-finger-content .secure-banking-through-finger-items-right .banking-through-finger-center-image {
        margin-top: -10%;
        margin-right: 20%;
    }

    /* #remittances-paid > .remittances-area > .remittances-content */
    #remittances-paid .remittances-area .remittances-content .remittances-item-header {
        display: none;
    }

    #remittances-paid .remittances-area .remittances-content .exchange-company-name {
        margin: 10px auto;
        text-align: center;
    }

    #remittances-paid .remittances-area .remittances-content .exchange-company-logo {
        margin: 10px auto;
    }

    /* #banking-service-charge > .banking-service-content > .banking-service-item */
    #banking-service-charge {
        padding-top: 50px;
    }

    #banking-service-charge .banking-service-content .banking-service-item h2 {
        text-align: center;
        font-size: 18px;
    }

    #banking-service-charge .banking-service-content .banking-service-header h2,
    #banking-service-charge .banking-service-content .banking-service-item h2 {
        margin: 5px 0;
    }

    /* #atm-cards-service-charge > .atm-cards-service-charge-content */
    /* #atm-transaction-service-charge > .atm-transaction-service-charge-content */
    #atm-cards-service-charge,
    #atm-transaction-service-charge {
        padding-top: 50px;
    }

    #atm-cards-service-charge .atm-cards-service-charge-content .atm-cards-service-charge-item h2,
    #atm-transaction-service-charge .atm-transaction-service-charge-content .atm-transaction-service-charge-item h2 {
        margin: 5px 0;
        text-align: center;
        font-size: 18px;
    }


    /* #bank-cards > .bank-cards-item-wrapper > .bank-cards-item */
    #banking-app-service {
        padding-top: 50px;
    }

    .app-image .circle-img {
        width: 85%;
    }

    #bank-cards .bank-cards-item-wrapper .bank-cards-item {
        width: 33.33%;
    }

    #bank-cards {
        padding-top: 50px;
    }

    #banking-app-service .banking-app-service-area .app-image .app-main-image img:nth-child(1) {
        left: 5%;
    }

    /* #google-map > .google-map-area  */
    #google-map {
        padding-top: 50px;
    }

    #google-map .google-map-area .section-content {
        padding: 0 20px;
        text-align: center;
    }

}


/* ##Screen = B/w 0px to 575px */
@media only screen and (max-width: 575px) {
    .section-content p {
        max-width: 95%;
    }

    /* #service Section Css */
    #service .service-item .single-information-box {
        padding-left: 0;
        text-align: center;
    }

    #service .service-item .single-information-box .icon {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    /* #service > .service-item Csss */
    /* #biometric-account > .biometric-area > .biometric-content */
    #biometric-account .biometric-area .biometric-content .biometric-heading {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }

    #biometric-account .biometric-area .biometric-content .biometric-heading > span {
        width: 65%;
        display: block;
        text-align: end;
        margin: 0 auto;
    }

    /* #bank-cards > .bank-cards-item-wrapper > .bank-cards-item */
    #bank-cards .bank-cards-item-wrapper .bank-cards-item {
        width: 50%;
    }

    #banking-app-service .banking-app-service-area .app-image .app-main-image img:nth-child(1) {
        left: 5%;
    }

    #banking-app-service .banking-app-service-area .app-image .app-main-image img:nth-child(2) {
        left: 41%;
    }

    #banking-app-service .banking-app-service-area .app-image .app-main-image img {
        width: 65%;
        object-fit: scale-down;
        max-height: 100%;
    }

    .app-image .circle-img {
        left: 50%;
    }

    /* #google-map > .google-map-area */
    #google-map .google-map-area .google-map-content .service-item {
        width: 100%;
        margin: 25px 0;
    }

    #google-map .google-map-area .google-map-content .google-map-viewport {
        padding: 25px 0px;
    }

}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 0px to 480px
*/
@media only screen and (max-width: 480px) {
    #banner .banner-image-circle .banner-image .banner-image-center img {
        max-width: 100%;
        height: auto;
    }
    #banner .banner-content h1 {
        font-size: 30px;
    }
    
    #banner .banner-image-circle .circle-1 {
        width: 50px;
        height: 50px;
    }

    #banner .banner-image-circle .circle-2 {
        width: 40px;
        height: 40px;
    }

    #banner .banner-image-circle .circle-3 {
        width: 35px;
        height: 35px;
    }

    /* #biometric-account > .biometric-area > .biometric-content */
    #biometric-account .biometric-area .biometric-content .biometric-heading h2 {
        font-size: 30px;
    }

    #biometric-account .biometric-area .biometric-content .biometric-service-item h5 {
        padding-left: 8px;
        font-size: 23px;
    }

    #biometric-account .biometric-area .biometric-content .biometric-service-item {
        display: flex;
        align-items: center;
    }

    /* #secure-banking-through-finger > .secure-banking-through-finger-content */
    #secure-banking-through-finger .secure-banking-through-finger-content h2 {
        font-size: 18px;
    }
    
    /* #bank-cards > .bank-cards-item-wrapper > .bank-cards-item */
    #bank-cards .bank-cards-item-wrapper .bank-cards-item {
        padding: 5px;
    }

    /* #banking-app-service > .banking-app-service-area > .section-content */
    #banking-app-service .banking-app-service-area .section-content {
        padding: 0;
    }

    #banking-app-service .banking-app-service-area .section-content .btn-box .app-store-btn, #banking-app-service .banking-app-service-area .section-content .btn-box .play-store-btn {
        padding: 12px 15px 12px 44px;
    }

    #banking-app-service .banking-app-service-area .section-content .btn-box a span {
        font-size: 14px;
    }

    #banking-app-service .banking-app-service-area .section-content .btn-box a i {
        left: 10px;
    }

    /* #google-map > .google-map-area  */
    #google-map .google-map-area .section-content {
        padding: 0;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 0px to 320px
*/
@media only screen and (max-width: 320px) {
    #header .navbar-area .sidebar-menu {
        width: 100%;
        left: -100%;
    }

    #header .navbar-area .sidebar-menu.active {
        transform: translateX(100%);
    }

    /* #banner Css */
    #banner .banner-content p {
        max-width: 100%;
    }

    /* #service > .service-item Csss */
    #service .service-item .btn-box a {
        margin: 5px;
    }

    /* #biometric-account > .biometric-area > .biometric-content */
    #biometric-account .biometric-area .biometric-content .biometric-service-item {
        display: unset;
    }

    #biometric-account .biometric-area .biometric-content .biometric-service-item .icon {
        display: block;
        text-align: center;
    }

    #biometric-account .biometric-area .biometric-content .biometric-service-item h5 {
        display: block;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    /* biometric-account > .biometric-images Css */
    #biometric-account .biometric-area .biometric-images .biometric-image {
        width: 98%;
    }

    /* #biometric-account > .biometric-area > .biometric-content */
    #biometric-account .biometric-area .biometric-content .biometric-heading > span {
        width: 100%;
        text-align: center;
    }

    /* #secure-banking-through-finger > .secure-banking-through-finger-content */
    #secure-banking-through-finger .secure-banking-through-finger-content .secure-banking-through-finger-item-header,
    #secure-banking-through-finger .secure-banking-through-finger-content .secure-banking-through-finger-items-left .secure-banking-through-finger-single-item {
        padding: 0 10px;
    }

    #secure-banking-through-finger .secure-banking-through-finger-content .secure-banking-through-finger-items-right .banking-through-finger-center-image {
        margin-top: -20%;
        margin-right: -15%;
    }

    /* #bank-cards > .bank-cards-item-wrapper > .bank-cards-item */
    #bank-cards .bank-cards-item-wrapper .bank-cards-item {
        width: 100%;
    }

    /* #bank-cards > .bank-cards-item-wrapper > .bank-cards-item */
    #bank-cards .bank-cards-item-wrapper .bank-cards-item {
        padding: 10px;
    }

    /* #banking-app-service > .banking-app-service-area .section-content  */
    #banking-app-service .banking-app-service-area .section-content .btn-box .app-store-btn i::before, #banking-app-service .banking-app-service-area .section-content .btn-box .play-store-btn i::before {
        font-size: 20px;
    }

    #banking-app-service .banking-app-service-area .section-content .btn-box .app-store-btn, #banking-app-service .banking-app-service-area .section-content .btn-box .play-store-btn {
        margin: 5px;
        padding: 10px 15px 10px 35px;
    }

    #banking-app-service .banking-app-service-area .app-image .app-main-image img:nth-child(1) {
        left: 0%;
    }

    #banking-app-service .banking-app-service-area .app-image .app-main-image img:nth-child(2) {
        left: 45%;
    }
    
    #banking-app-service .banking-app-service-area .app-image .app-main-image img {
        width: 70%;
    }

    .app-image .circle-img {
        width: 100%;
    }

}