@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?0e5cdd0bd1f2ebc0375799c05e8a345d") format("truetype"),
url("./flaticon.woff?0e5cdd0bd1f2ebc0375799c05e8a345d") format("woff"),
url("./flaticon.woff2?0e5cdd0bd1f2ebc0375799c05e8a345d") format("woff2"),
url("./flaticon.eot?0e5cdd0bd1f2ebc0375799c05e8a345d#iefix") format("embedded-opentype"),
url("./flaticon.svg?0e5cdd0bd1f2ebc0375799c05e8a345d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-piggy-bank:before {
    content: "\f101";
}
.flaticon-play-store:before {
    content: "\f102";
}
.flaticon-apple:before {
    content: "\f103";
}
.flaticon-shield:before {
    content: "\f104";
}
.flaticon-exit:before {
    content: "\f105";
}
